.delivery-collection{
    padding: 40px 0 80px;
    background-color: #e2dada70
}
.collection-title {
    margin-left: 16px;
    h1{
        font-size: 35px;
    }
    p{
        font-size: 20px;
    }
}

