    
    
.sidebar {
    height: 100%;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu {
        width: 100%;
        list-style: none;
        padding: 0;
    }
    
    .menu-item {
        padding: 8px;
        margin: 10px 0;
        a {
            text-decoration: none;
            color: #333;
        }
        .active {
            font-weight: bold;
            color: rgb(255 83 99);
        }
    }
}
