/* src/components/Navbar.module.scss */
.header {
  background-color: rgb(170 30 43);
}
.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbarLogo {
    font-size: 2rem;
    color: #43a047;
  }
  
  .navMenu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navItem {
    margin: 0 10px;
  }
  
  .navLinks {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
  }

  
  